*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: Verdana;
    text-transform: capitalize;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, black , darkblue);
}

.container{
    height: 450px;
    width: 80%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto;
}

#input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: gray;
    color: white;
    padding: 0 10px;
    margin: 5px 0;
    margin-bottom: 0%;
}

#input::placeholder{
    color: blanchedalmond;
}

#add{
    margin-top: 5px;
    height: 35px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    background: gray;
    color: white;
    padding: 0 10px;
    margin: 5px 0;
    margin-bottom: 0%;
}

h1{
    margin-bottom: 5px;
    height: 30px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 0 10px;
    margin: 15px 0;
    margin-top: 10%;
    text-align: center;
}

#add::placeholder{
    color: blanchedalmond;
}

ul li{
    background: lightslategray;
    color: black;
    height: 55px;
    border-radius: 40px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-items: center;
}

ul .delete, .done, .undo{
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}

ul .delete{
    position: absolute;
    height: 30px;
    width: 70px;
    outline: none;
    border: none;
    background: red;
    color: white;
    right: 2px;
    margin-right: 60px;
}

ul .done{
    margin-right: 5px;
    position: absolute;
    height: 30px;
    width: 50px;
    outline: none;
    border: none;
    background: green;
    color: white;
    right: 2px;
}

ul .checked{
    text-decoration: line-through;
}

ul .unchecked{
    text-decoration: none;
}

ul .undo{
    margin-right: 5px;
    position: absolute;
    height: 30px;
    width: 50px;
    outline: none;
    border: none;
    background: green;
    color: white;
    right: 2px;
}

